version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
    groups:
      dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "react"
          - "react-dom"
          - "next"
      react-next:
        patterns:
          - "react"
          - "react-dom"
          - "next"
    commit-message:
      prefix: "chore(deps):"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "chore(ci):"
